body {
    margin: 0;
    font-family: "Malgun Gothic";
    font-weight: 100;
  }
  a {
    text-decoration: none;
    color: #888;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  * {
    box-sizing: border-box;
  }