main {
  background: #f2f4f7;
  min-height: 700px;
}
.main-container {
  min-width: 980px;
  margin: auto;
  display: grid;
  grid-template-rows: 850px; 
}
.temp-box {
  width: 100%;
  height: 100%;
  font-size: 40px;
  text-align: center;
}
.box-four {
  display: flex;
  flex-direction: row;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  color: #f2f4f7;
}
.box-four .sec1 .text1 {
  font-size: 55px;
  margin-top: 58px;
  margin-bottom: 21px;
}
.box-four .sec1 .text2 {
margin-left: 99px;
margin-bottom: 61px;
}
.mail {
  
  font-size: 18px;
}
.phone {
  
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 75px;
}
.box-four .sec1 .text3 {
  font-size: 12px;
  margin-top: 33px;
  margin-bottom: 57px;
  box-sizing: border-box;
}
.map {
  margin-left: 90px;
}
.box-four > div:first-child {
  flex: 1;
}
.box-four > div:last-child {
  flex: 1;
  margin-left: 20px;
}
.inside-container1 {
  height: 155px;
  width: 465px;
  position: relative;
  pointer-events: none;
}
.inside-container2 {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content min-content min-content min-content 1fr;
  grid-template-columns: 100%;
}
.haha1 {
  position: relative;
  margin: 11px 0px 9px 0;
  left: 8px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}
.haha2 {
  position: relative;
  margin: 0px 0px 4px 0;
  left: 8px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
.haha3 {
  position: relative;
  margin: 0px 0px 6px 0;
  left: 8px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
}
.haha4 {
  position: relative;
  margin: 11px 0px 6px 0;
  left: 336px;
  grid-area: 1 / 1 / 5 / 2;
  justify-self: start;
  align-self: start;
}
.abc1 {
  background: white;
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 40px;
  padding: 0px;
  border: 1px solid #E6ECF0;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box; 
}
.abc2 {
  flex-direction: row;
}
.box3 {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}
.button1 {
  background-color: yellow;
  text-align: initial;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: fit-content;
}
.line {
  border: 1px solid;
  border-top: #E6ECF0; 
  border-left: #E6ECF0;
  border-right: #E6ECF0;
}