header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  0px 400px;
  height: 86px;
}

.logo {
  font-size: 18pt;

}

.logo > a {
  color: black;
}

nav {
  display: inline-block;
  margin-left: 10px;
}

.nav_links {
  list-style: none;
}

.nav_links-sns {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  margin: 0 15px;
}

.nav_links-sns li {
  display: inline-block;
  margin-left: 5px;
}

.enabled {
 color: gold;
}

.push {
  margin-left: auto;
}

.nav_links > li > a:hover {
  color: gold;
}

.nav_links > li > a {
  transition: .5s;
}